.section2-design {
  height: 100vh;
  overflow-y: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 117px 120px 117px;
}
.section2-design::-webkit-scrollbar
{
  display: none;
}
.section2-upper-content-h1 {
  font-size: 45px;
  color: white;
  letter-spacing: -0.99px;
  line-height: 56.25px;
}
.section2-upper-content-p {
  font-size: 24px;
  line-height: 36px;
  color: #cdcdcd;
  letter-spacing: -0.456px;
  padding-top: 33px;
}
.section2-lower-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: row;
  margin: 40px 10px;
}
.section2-lower-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 260px;
  padding: 40px;
}
.section2-lower-content-img {
  width: 8rem;
  border-radius: 99px;
}
.section2-lower-content-heading {
  color: white;
  font-size: 18px;
  padding-top: 38px;
}
.section2-lower-content-text {
  color: #cdcdcd;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  letter-spacing: -0.52px;
  min-width: 15rem;
  margin-bottom: 0; /* Remove default margin */
}

@media (max-width: 640px) {
  .section2-design {
    padding: 100px 40px 100px 40px;
  }
  .section2-upper-content-h1 {
    font-size: 30px;
    letter-spacing: -0.99px;
    line-height: 36.25px;
  }
  .section2-upper-content-p {
    font-size: 18px;
    line-height: 26px;
  }
  .section2-lower-content {
    flex-direction: column;
  }
  .section2-lower-content-div {
    height: 300px;
    width: 310px;
  }
  .section2-lower-content-img {
    width: 8rem;
    border-radius: 99px;
  }
  .section2-lower-content-heading {
    font-size: 18px;
    padding-top: 38px;
  }
  .section2-lower-content-text {
    font-size: 18px;
  }
}
