.section4-design {
  height: 100vh;
  overflow-y: auto;
  text-align: center;
}
.section4-design::-webkit-scrollbar{
  display: none;
}
.section4Design-div2 {
  padding: 140px 117px;
}
.section4-upper-content-heading {
  font-size: 57px;
  padding-left: 133px;
  padding-right: 133px;
  letter-spacing: -1.254px;
  line-height: 71.25px;
}
.section4-upper-content-heading1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.button-book-now {
  padding: 14px 22px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 2px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

.section4--lower-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4--lower-content-box {
  text-align: start;
  height: 148px;
  width: 266px;
  padding-right: 10px;
  padding-left: 10px;
}

.section4--lower-content-box > h3 {
  font-size: 21px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.section4--lower-content-box > p {
  font-size: 16px;
  color: #828282;
  line-height: 24px;
}

@media (max-width: 646px) {
  .section4Design-div2 {
    padding: 10px 0px 10px 0px;
  }
  .section4-upper-content-heading {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: -1.254px;
    line-height: 51.25px;
  }
  .section4--lower-content{
    flex-direction: column;
    margin-top: 4rem;

  }
  .section4--lower-content-box {
    text-align: start;
    height: 148px;
    width: 320px;
    margin: 0;
    padding: 0;
  }
  .section4--lower-content-box > h3 {
    font-size: 18px;

}
  .section4--lower-content-box > p {
    font-size: 14px;
    color: #828282;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  
  
}
