.section7-design {
  height: 100vh;
  overflow-y: auto;
}

.section7-design::-webkit-scrollbar {
  display: none;
}

.section7-design-wrapper {
  padding: 3rem;
  text-align: center;
}

.section7-design-upper-content > h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 56.25px;
  letter-spacing: -0.99px;
}

.section7-design-upper-content > p {
  font-size: 24px;
  letter-spacing: -0.456px;
  line-height: 36px;
  width: 85%;
  color: #545454;
  line-height: 36px;
  margin-left: 6rem;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 43px;
}

.section7-design-lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section7-design-lower-content-box {
  width: calc(40% - 15px);
  height: 196px;
  display: flex;
  text-align: start;
  margin: 0 4rem;
}

.section7-design-lower-content-box > .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 5rem;
}

.section7-design-lower-content-box > div {
  flex-grow: 1;
}

.section7-design-lower-content-box > div > h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.36px;
  margin-bottom: 5px;
}

.section7-design-lower-content-box > div > p {
  font-size: 18px;
  letter-spacing: -0.252px;
  line-height: 24px;
  color: #a4a4a4;



}

@media (max-width: 640px) {
  .section7-design-wrapper {
    padding: 5rem 1rem;
  }
  .section7-design-lower-content-box {
    margin: 0;
  }
  .section7-design-upper-content > h1 {
    font-size: 30px;
    line-height: 40.25px;
  }

  .section7-design-upper-content > p {
    font-size: 16px;
    width: 85%;
    margin: 0 30px;
    padding: 20px 0;
    line-height: 26px;


  }

  .section7-design-lower-content {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .section7-design-lower-content-box {
    width: 90%;
  }

  .section7-design-lower-content-box > .icon {
    width: 40px;
    height: 40px;
  }

  .section7-design-lower-content-box > div > h2 {
    font-size: 19px;
  }

  .section7-design-lower-content-box > div > p {
    font-size: 15px;
    width: 100%;
  }
}
