.section7-design {
  border: 1px solid red;
  height: 100vh;
  overflow-y: auto;
}
.section7-design::-webkit-scrollbar {
  display: none;
}
.section7-design-wrapper {
  padding: 3rem;
  text-align: center;
}
.section7-design-upper-content > h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 56.25px;
  letter-spacing: -0.99px;
}
.section7-design-upper-content > p {
  font-size: 24px;
  letter-spacing: -0.456px;
  line-height: 36px;
  width: 85%;
  color: #545454;
  line-height: 36px;
  margin-left: 6rem;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 43px;
}

.section7-design-lower-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  justify-content: space-between;
}

.section7-design-lower-content-box {
  width: calc(50% - 15rem);
  height: 196px;  
  display: flex;
  text-align: start;
  margin: 0 7.5em;
}

.section7-design-lower-content-box > .icon {
  /* margin-bottom: 6rem; */
  margin-right: 10px;
  width: 33px;
  height: 33px;
}

.section7-design-lower-content-box > div {
  display: flex;
  flex-direction: column;
}
.section7-design-lower-content-box > div > h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
  letter-spacing: -0.36px;
}
.section7-design-lower-content-box > div > p {
  font-size: 18px;
  letter-spacing: -0.252px;
  line-height: 27px;
  margin-top: 0;
  width: 380px;
  height: 108%;
  color: #a4a4a4;
}

@media (max-width: 576px) {
  .section7-design-wrapper {
    padding-top: 5rem;
  }
  .section7-design-upper-content > h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40.25px;
    letter-spacing: -0.99px;
  }

  .section7-design-upper-content > p {
    font-size: 16px;
    letter-spacing: -0.456px;
    width: 100%;
    color: #545454;
    line-height: 24px;
    margin: 0;
  }
  .section7-design-lower-content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .section7-design-lower-content-box {
    width: 100%;
  }
  .section7-design-lower-content-box > div > h2 {
    font-size: 19px;
  }
  .section7-design-lower-content-box > div > p {
    font-size: 15px;
    line-height: 24px;
    width: 290px;
    /* height: 20%; */
    color: #a4a4a4;
  }
}
