body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-y: hidden; /* Change from 'scroll' to 'hidden' */
}

body::-webkit-scrollbar {
  display: none; 
}

.container {
  overflow-y: hidden;
  display: flex;
  height: 100vh;
}

.container::-webkit-scrollbar {
  display: none; 
}

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99; /* Center horizontally */
}

.line {
  width: 8px;
  height: 4px;
  background-color: #8f8f8f;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.line.blackBg.active {
  background-color: #fff; /* Change color of active line to white when section has black background */
}

.sections {
  flex: 1;
  overflow-y: auto;
}

.section {
  min-height: 100vh;
}

.line.active {
  background-color: black;
  width: 15px; /* Change color of active line */
}

@media (max-width: 576px) {
  .navigation {
    right: 10px;
  }
}
