.section3-design {
  height: 100vh;
  overflow-y: auto;
  padding: 120px 117px;
}
.section3-design::-webkit-scrollbar{
  display: none;
}
.section3-content {
  font-size: 78px;
  text-align: center;
  line-height: 93.75px;
  letter-spacing: -1.65px;
}

@media (max-width: 576px) {
  .section3-design {
    padding: 0;
  }
  .section3-content {
    font-size: 45px;
    padding: 10rem 2rem 10rem 2rem;
    line-height: 50px;
  }
}
@media (max-width: 640px) {
  .section3-design {
    padding: 0;
  }
  .section3-content {
    font-size: 45px;
    width: 90%;
    margin-left: 20px;
    line-height: 46px;
  }
}
